* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

html,
body {
  color: rgba(0, 0, 0, 0.8);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  overscroll-behavior: none;
}

button {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 4px 8px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

input[type='number']:focus,
select:focus {
  outline: none;
  border: 1.5px solid rgba(0, 0, 0, 0.8) !important;
}

input[type='checkbox'] {
  display: grid;
  place-content: center;
  flex: 0 0 20px;
  appearance: none;
  height: 20px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

input[type='checkbox']::before {
  content: '';
  width: 10px;
  height: 10px;
  transform: scale(0);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: rgba(0, 0, 0, 0.8);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

select {
  color: rgba(0, 0, 0, 0.5);
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 0 2px;
  background-color: transparent;
}

input[type='range']:focus {
  outline: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.92));
}

input[type='range']:focus::-webkit-slider-thumb {
  background-color: rgba(0, 0, 0, 0.92);
}

#colorGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 120px), 1fr));
  gap: 2px;
  overflow: auto;
  flex: 1 1 70%;
}

#colorGrid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  gap: 8px;
  padding: 12px;
}

.deltas {
  font-size: 12px;
  opacity: 0.6;
  white-space: nowrap;
  margin-left: 12px;
  cursor: help;
}

.header {
  flex: 1 1 30%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 24px;
  height: 100%;
  @media (max-width: 968px) {
  }
}

.info {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  @media (max-width: 968px) {
    font-size: 12px;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.control {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 14px;
  align-items: center;
  user-select: none;
}

.control label {
  flex: 0 1 140px;
  min-width: 140px;
  white-space: nowrap;
  font-weight: 500;
}

.control input[type='range'] {
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.5);
}

.control input[type='number'] {
  width: 32px;
  height: 28px;
  color: rgba(0, 0, 0, 0.5);
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-align: center;
}

.control input[type='number']::-webkit-outer-spin-button,
.control input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.control .options {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.control.title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;
}

.control.title label {
  font-size: 14px;
  font-weight: 600;
}

.export {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  gap: 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 12px;
}

.export select {
  flex: 1 1 100%;
  height: 28px;
}

.color-blind {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 16px;
}

.color-blind label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.info a {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.info a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.info .number {
  letter-spacing: 1px;
}

/* Range */

input[type='range'] {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.1);
  height: 1.5px;
  border-radius: 50px;
  background-image: linear-gradient(#565656, #565656);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: #565656;
  border-radius: 50%;
  cursor: pointer;
}
